@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@500&display=swap');

:root{
    --font-main: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* ************************************************************
  ******************** CLASES GENERALES ************************ 
   ************************************************************    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.content-form{
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px dotted #8a8a8a;
    border-radius: 5px;    
}

.centrar{
    text-align: center;
}

.titulo-h3{
    padding: 5px 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1em;
}

.titulo-h1{
    padding: 10px 0;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 500;
}

.font-input-normal{
    font-size: 1.1rem;
}

.pointer, .pointer:hover{
    cursor: pointer;
}

/* para que luego de hacer click en un enlace no quede de otro color, ni subrayado */
a:visited, a {
    color: inherit;
    text-decoration: none;  
}

.color-text-form{
    color: #7f7f7f;
}

/*
***********************************************************************************************************************************************************
*/



/*Sección hero css*/

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 626px;
    width: 100%;
    /*imagen fondo en cuerpo del index.html*/
    background-image: url(../imgs/logo1.jpeg);
    background-size: cover;
    background-position: center;
}


.hero h1 {

    color: white;
    padding: 50px 20px;
    font-weight: bold;
    font-size: 80px;
}

.hero h1 span {
    color: rgb(185, 6, 6);
}

.hero p {

    font-size: 30px;
    color: white;
    padding: 50px 20px;
}

.hero p span {
    color: rgb(185, 6, 6);
}

/*fin seccion hero css*/


/*css marquee*/
marquee {
    color: #005816;
    font-size: 15px;
    font-weight: bold;
    background-color: #fdf7f7;
}

/* fin css marquee*/


/*Cabecera css*/

header {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    

}

/*logo imagen */
.logo img {
    height: 115px;
    width: 200px;
    opacity: 0.6;
}


/*menu principal css */


.menu-principal ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.menu-principal li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.menu-principal li a:hover {

    color: rgb(174, 0, 255);
    transition: .3s;
}


/*turnos css*/
 .turnos {
    margin-right: 20px;
    height: 30px;
    width: 10%;
    text-decoration: none;
}

 .turnos button {
    border: 2px solid rgb(174, 0, 255);
    border-radius: 30px;
    background: transparent;
    box-shadow: 5px 5px 10px #d1d5df, -5px -5px 10px #d1d5df;
    width: 100%;
    height: 30px;
    text-align: center;    
}

.turnos button span{
    color: #8d9a42;  
    font-size: 0.8rem; 
}

/*
.turnos button span{
    display: none; 
}
*/

.turnos button:hover span {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    color: #d1d5df;
    
}


/*fin turnos css*/



/*footer css*/

footer {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;


}

footer ul {
    list-style-type: none;
}

/* Estilos para los íconos del footer redes sociales*/
.redes {

    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.redes i {
    margin: 5px;
    /* Espacio entre los íconos */
    font-size: 20px;
    /* Tamaño del ícono ajustado */
    color: #f1ebeb;
    /* Color por defecto de los íconos */

}

.redes i:hover {

    color: rgb(174, 0, 255);
    transition: .3s;

}

.datos li a {

    text-decoration: none;
    color: white;
}

 /* fin footer CSS */



 /* ********************* Forumulario *************************** */
 
/* *** Hero contacto *** */

.hero-contacto {
    position: relative; /* Asegura que el pseudoelemento se posicione correctamente */
}

.hero-contacto::after {
    content: ""; /* Necesario para que el pseudoelemento aparezca */
    position: absolute; /* Posiciona el pseudoelemento en relación con el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Cubre todo el ancho del contenedor */
    height: 120vh; /* Cubre todo el alto del contenedor */
    background-image: url('../imgs/contacto.jpg'); /* Ruta de la imagen transparente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.33; /* Ajusta el valor entre 0 y 1 para cambiar la opacidad */
    z-index: -1; /* Coloca el pseudoelemento detrás del contenido del contenedor */
}

/* *** form generalidades *** */

.formulario{
    display: flex;
    justify-content: center;
}

.saludo{
    margin-top: 50px;
}

.form-col{
    width: 40%;
}

input{
    border: 1px dotted #1c1919;
    border-radius: 5px;
    height: 50px;
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
}

.input-2-col{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2rem;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

/* *** media querys de form generalidades *** */

@media (max-width:1140px){

    .hero-contacto::after {
        height: 145vh; 
    }

    .enviar:first-child{
        margin-bottom: 0;
    }

    .input-2-col{
        flex-direction: column;
    }

    input{
        width: 100%;
    }

    .form-col{
        width: 50%;
    }

}


@media (max-width:900px){

    .form-col{
        width: 80%;
    }


}

/* *** Radio *** */

input[type=radio] {
    color: blue;
    height: 15px;
    width: 60px;
    margin: 20px 0;
}

.radio_sexo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media  (max-width:600px) {
    
    .radio_sexo{
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
    
    .radio_sexo label input{
        margin: 10px 0;
    }
    
}

/* *** SELECT *** */

.select_tc{
    padding: 25px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 150px;
}

.tipo_consulta{
    width: 250px;
    height: 100px;
    font-size: 1.2rem;
}

/* *** carga de archivo *** */

input[type=file]{
    width: 100%;
}

#cont-input-cv{
    display: none;
}

.upload_file{
    margin-bottom: 0px;
}

.upload_file p, .upload_file input{
    padding: 10px 10px;
}

/* *** TextArea *** */

textarea::placeholder, input::placeholder{
    font-family: var(--font-main);
    font-size: 1.2em
}

textarea{
    border: 1px dotted #1c1919;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    height: 150px;
    resize: none;
}

/* *** Boton enviar *** */

.enviar{
    margin: 30px 0px;
    width: 100%;
    height: 50px;
    background-color: #96C93E;
    font-size: 1.3em;
    color: #fff;
    cursor: default;
    transition: 1s ease all;
}

/* *** Mensajes enviado/error *** */

#enviado{
    color: #0000ff;
    font-size: 1.2rem;
    margin: 5px 0 20px 0;
    font-weight: bold;
    text-align: center;
    display: none;
}

#error-carga{
    color: #ff0000;
    font-size: 1.2rem;
    margin: 5px 0 20px 0;
    font-weight: bold;
    text-align: center;
    display: none;
}

/*css sucursales*/

.sucursales{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    min-height: 626px;
    background-color: #121233;
}

.sucursales .sucursal{
   
    border: 5px solid white;
    text-align: center;
    color: #f1ebeb;
    margin:5px;
}


.mapa iframe{
    width:100%;
    height:300px;
}





